{% extends "layout.html.twig" %}
{% block page_title %}Configure my account{% endblock %}
{% block body %}
    <div class="col-md-12">
            {{ form_start(form) }}

            {{ form_end(form) }}
    </div>
{% endblock %}